.feedItem {
	margin: 0.5rem;
	border-radius: 4px;
	border: 1px solid white;
	color: white;

	.title {
		text-align:center;
		font-weight: bold;
		cursor: pointer;

		.titleLink {
			color: white;
			text-decoration: none;
		}
	}

	.header {
		font-size: 1rem;

		span {
			padding-left: 1rem;
		}
	}

	.showContent {
		border: 1px solid white;
		height: 50px;
		line-height: 50px;
		margin: 1rem auto;
		text-align: center;
		width: 95%;
	}

	.content {
		text-align: center;
		width: 100%;

		.contentFrame {
			border: none;
			display: block;
			margin: auto;
			width: 96%;
			height: 500px;
		}
	}
}



